# Python
__pycache__/
*.pyc

# Mac
.DS_Store

# IDE
.idea/

# Virtual env
.venv/

# Outputs
outputs/
experiments/mv_sam3d_try/MV-SAM3D/mac_outputs/
experiments/mv_sam3d_try/MV-SAM3D/da3_outputs/

# Models
*.pt
*.pth
*.safetensors

# External repos
experiments/mv_sam3d_try/Depth-Anything-3/

# Data (keep structure only)
data/*/*
!data/*/.gitkeep

# 3D files
*.ply