# Python
__pycache__/
*.pyc

# Mac
.DS_Store

# IDE
.idea/

# Virtual env
.venv/

# Data / outputs
outputs/
experiments/mv_sam3d_try/MV-SAM3D/mac_outputs/
experiments/mv_sam3d_try/MV-SAM3D/da3_outputs/

# Models
*.pt
*.pth
*.safetensors

# Local data
data/raw/

experiments/mv_sam3d_try/Depth-Anything-3/

data/*/*
!data/*/.gitkeep
*.ply